beautifulsoup4
deep-translator
feedparser
geopy
gTTS==2.5.1
numpy==1.26.4
openai
opencv-python==4.9.0.80
playsound==1.2.2
plyer
psutil
psycopg2-binary==2.9.9
pvporcupine==3.0.0
pvrecorder==1.2.7
pyautogui==0.9.54
pyperclip
pyswip
pyttsx3
pywin32
requests
simpleaudio
SpeechRecognition
speedtest-cli
timezonefinder
ultralytics==8.2.0
wikipedia
python-vlc
python-dotenv
pyaudio
yt-dlp
openwakeword==0.6.0
onnxruntime==1.23.2
