beautifulsoup4
deep-translator
feedparser
geopy
gTTS==2.5.1
numpy==1.26.4
openai
playsound==1.2.2
plyer
psutil
psycopg2-binary==2.9.9
pyautogui==0.9.54
pyperclip
pyttsx3
pywin32
requests
simpleaudio
SpeechRecognition
speedtest-cli
timezonefinder
wikipedia
python-dotenv
pyaudio
yt-dlp
